/* Fonts here lol */

@font-face {
    font-family: "aileron";
    src: url("./fonts/aileron.otf");
}

@font-face {
    font-family: "taro";
    src: url("./fonts/taro.otf");
}

@font-face {
    font-family: "aileron-light";
    src: url("./fonts/aileron-light.otf");
}

body {
    background-color: #36393f;
}

.room-title {
    background-color: rgb(65, 68, 74);
    border-radius: 10px;
    position: fixed;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    display: flex;
    width: auto;
    left: 2.5vw;
    right: 2.5vw;
}

.room-title h1 {
    font-family: aileron;
    font-size: 3vw;
    word-wrap: break-word;
    color: white;
    margin: 0;
}

.message-input-bar {
    position: fixed;
    display: flex;
    width: auto;
    left: 2.5vw;
    right: 2.5vw;
    bottom: 1.5rem;
    background-color: rgb(65, 68, 74);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.message-send-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.message-send-div .input-box {
    display: block;
    background-color: rgb(65, 68, 74);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    color: white;
    font-size: 1rem;
    width: 100%;
    outline: 0;
    border-width: 0;
    font-family: aileron-light;
}

.message-send-div .icon {
    transform-origin: center;
    --transform-rotate: 90deg;
    width: 2rem;
    height: 2rem;
}

.message-send-div button {
    background-color: rgb(65, 68, 74);
    border-width: 0;
    cursor: pointer;
}

.message-send-div button:hover {
    color: rgb(91, 92, 94);
    border-width: 0;
    cursor: pointer;
}

.message {
    background-color: #2d3036;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 15px;
    border-radius: 10px;
    padding-bottom: 30px;
    margin-bottom: 1rem;
}

.message .message-time {
    float: right;
    color: white;
    font-family: taro;
}

.message .message-author {
    color: white;
    font-family: aileron;
    font-size: 1.25rem;
}

.message .message-content {
    color: lightgray;
    font-family: aileron-light;
}